/out/
/.idea/
/functional/functional.iml

/Streams/Streams.iml
/onjava/onjava.iml
/Exceptions/Exceptions.iml
/Exceptions/src/exceptions/Results.txt
/validating/target
/validating/target/classes/validating/test/CountedListTest.class
/validating/validating.iml
/housekeeping/target/
/housekeeping/housekeeping.iml
/hiding/target
/hiding/hiding.iml
/reuse/target
/*/reuse.iml
/polymorphism/target
/polymorphism/polymorphism.iml
/interfaces/target
/interfaces/interfaces.iml
/innerclasses/target
/innerclasses/innerclasses.iml
/collections/target/
/collections/collections.iml
/reflection/reflection.iml
/*/target/**
/files/files.iml
/test/
